@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Roboto:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}
body{
   
    
}




.header{
    width: 100%;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(167, 204, 218);
    display: flex;
    justify-content: space-between;
    min-width:735px;
  
    
}
#logo {
   width: 200px;
   height: 200px;
   margin-top: -60px;
   
   

}


.navbar {
    width: 100%;
    height: 40px;
    float: right;
    margin-top: 20px;

}
.navbar ul{
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
   
    
}

.navbar ul li{
    display: inline; /* pone en linea el menu*/   
}
.navbar ul li a{
    display: inline-block;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
}

.navbar ul li a:visited{
    color: rgb(57, 58, 48);
}
.navbar ul li a:link{
    color: rgb(57, 58, 48);
}
.navbar ul li a:hover{
    color: rgb(100, 120, 123);
}






main{
    
    background-image: url(../imagenes/iconos/fondo2.png);
    widows: 100%;
    height: calc(108vh - 50px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.secciones {
    top: 0;
    left:0;
    min-height: 200px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: antiquewhite;
    text-align:center;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-content:center;
    

}


.secciones h1{
    margin-top: 40px;
    font-size: 30px;
    text-align:center;

}

.secciones p {
    margin: 20px;
    font-size: 20px;

}

.secciones a {
    text-decoration: none;
    color: antiquewhite;
    padding: 9px 20px;
    border: 1px solid antiquewhite;
    width: 150px;
    text-align:center;
    margin-left: auto;
    margin-right: auto;

}

.secciones a:hover{
    background-color: antiquewhite;
    color: black;

}




footer {
    width: 9100%;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
    background-color:goldenrod;
    color:black;
}
.datos {
    width: 300px;
    height: 180px;
    float: left;
    padding: 20px;
    box-sizing:content-box;
}
.redes{
    float:right;
    text-align: center;
    padding: 20px;   
}

